@import "tailwindcss";
@import "tw-animate-css";
@import "./theme.css";

@custom-variant dark (&:is(.dark *));

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }

    button,
    a {
        @apply cursor-pointer;
    }

    iconify-icon {
        display: inline-block;
        width: 1em;
        height: 1em;
    }

    .zenith-scrollbar::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    .zenith-scrollbar::-webkit-scrollbar-track {
        background: var(--background);
    }

    .zenith-scrollbar::-webkit-scrollbar-thumb {
        background-color: var(--foreground);
        border-radius: 4px;
        border: 2px solid var(--background);
    }

    .zenith-scrollbar::-webkit-scrollbar-corner {
        background: var(--background);
    }

}
